/* Estilos para el contenedor principal */
#main {
    background-color: rgba(0, 0, 0, 0.2) !important;
    padding: 15px; /* Ajusta el espacio interno según tus preferencias */
    margin-top: 15px;
    position: relative;
    max-width: 100%;
    z-index: -1;
}

/* Estilos para los títulos y párrafos */
h4,
p {
    color: black;
}

/* Estilos para la lista de contactos */
.contact-list {
    list-style-type: none;
    padding-left: 0;
}

.contact-list li {
    margin-bottom: 5px;
}

/* Estilos para los enlaces del pie de página */
.custom-link {
    text-decoration: none;
    margin-right: 15px; /* Añade un margen derecho para separar los enlaces */
}

.custom-link:hover {
    text-decoration: underline; /* Subraya los enlaces al pasar el cursor sobre ellos */
}

/* Estilos para el formulario de suscripción */
.newsletter form {
    margin-top: 10px; /* Añade un espacio superior al formulario */
}

.newsletter .form-control {
    width: 75%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.newsletter .input-group-btn {
    display: flex;
    align-items: flex-start;
}

.newsletter .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/* Estilos para los íconos de redes sociales */
.social-icons {
    margin-top: 20px; /* Añade espacio superior a los íconos */
}

/* Estilos para los íconos de redes sociales */
.social-icons {
    margin-top: 20px; /* Añade espacio superior a los íconos */
  }
  
.social-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Añade espacio superior entre el título y los íconos */
}
  
.social-icons a {
    text-decoration: none;
    display: inline-block; /* Add this line to make the icons inline */
}
  
.social-icons a:hover {
    text-decoration: underline; /* Subraya los íconos al pasar el cursor sobre ellos */
}
  
.social-icons i {
    margin-right: 10px; /* Añade espacio derecho entre el ícono y el siguiente ícono */
}
  
