body {
    /* background-color: rgb(223 255 236); */
    background-color: white;
}

/* Estilo para el contenedor principal */
/* .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mínima altura de la ventana gráfica */
/* } */

/* Estilo para el Footer */
/* .footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
} */ */

/* Estilos generales */
.navbar-brand {
    padding: 10px 20px;
    margin: 10px 20px;
}

#openSearchButton {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

/* Estilos adicionales para la navbar */
.navbar {
    background: rgba(0,0,0,.2); 
}

/* BOTONES */
.custom-link:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 10px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    border-radius: 10px;
}

.navbar-brand:nth-child(1) {
    filter: hue-rotate(270deg); 
}

.navbar-brand:nth-child(2) {
    filter: hue-rotate(110deg); 
}

.navbar-brand:nth-child(3) {
    filter: hue-rotate(50deg); 
}

.navbar-brand:nth-child(4) {
    filter: hue-rotate(180deg); 
}

.navbar-brand:nth-child(5) {
    filter: hue-rotate(300deg); 
}

.navbar-brand:nth-child(6) {
    filter: hue-rotate(20deg); 
}

.navbar-brand:nth-child(1),
.navbar-brand:nth-child(2),
.navbar-brand:nth-child(3),
.navbar-brand:nth-child(4),
.navbar-brand:nth-child(5),
.navbar-brand:nth-child(6) {
    padding: 5px 10px;
    margin: 40px 40px;
}

/* Estilos para el modal de búsqueda */
.search-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(223 255 236 / 75%);
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    max-width: 550px;
    width: 90%; /* Ajusta el ancho del modal según tus preferencias */
    max-height: 80vh;
    overflow-y: auto;
}

.search-modal .modal-title {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 95px;
    text-align: center;
}

.search-modal select {
    width: 100%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.search-modal .modal-footer {
    padding: 20px 0;
    justify-content: center;
    border-top: none;
}

.search-modal button {
    padding: 15px 30px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.search-modal button.btn-close {
    padding: 15px 30px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
}

.search-modal button.btn-close:hover {
    color: #007bff;
}

/* Estilos para la imagen de portada */
.portada-container {
    width: 100%;
    max-height: 90vh; /* Aumenta la altura máxima del contenedor al 90% */
    overflow: hidden;
}

.portada-image {
    height: auto;
    object-fit: cover;
    width: 100%;
}

/* LOGO */
.logo-overlay {
    position: absolute;
    top: 55px;
    right: 135px;
    padding: 0;
    max-height: 300px;
    z-index: 100;
}

/* MEDIA QUERY PARA CAMBIAR TAMAÑO LOGO DEPENDIENDO DE PANTALLA */
@media (max-width: 767.98px) {
    .logo-overlay {
        max-height: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1399.98px) {
    .logo-overlay {
        max-height: 200px;
    }
}

@media (min-width: 1400px) {
    .logo-overlay {
        max-height: 300px;
    }
}

/* Media query para la navbar en pantallas pequeñas (hasta 767.98px) */
@media (max-width: 767.98px) {
    .navbar-brand {
        display: none; /* Oculta los botones de navegación en pantallas pequeñas */
    }

    /* Estilos para el menú desplegable en pantallas pequeñas */
    .navbar-collapse {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #000; /* Cambia el color de fondo a tu preferencia */
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-toggler.active + .navbar-collapse {
        display: block;
    }

    .navbar-brand {
        display: block;
        padding: 10px;
        margin: 0;
        border-bottom: 1px solid #fff; /* Línea separadora entre elementos */
    }

    .navbar-brand:last-child {
        border: none; /* Elimina el borde inferior del último elemento */
    }
}

/* Media query para la navbar en pantallas grandes (1400px en adelante) */
@media (min-width: 1400px) {
    .navbar-brand {
        padding: 20px 20px;
        margin: 20px 20px;
    }
}

/* Media query para la navbar en pantallas medianas (768px a 1399.98px) */
@media (min-width: 768px) and (max-width: 1399.98px) {
    .navbar-brand {
        padding: 15px 20px;
        margin: 15px 20px;
    }
}