.my-masonry-grid {
  display: flex;
  width: auto;
  border-radius: 1rem;
  background-color:transparent;
  justify-content: center;
}
.my-masonry-grid_column {
  padding: 1rem; 
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  width: 100%;
}
.my-masonry-grid_column .card {
  width: 100%; 
  max-width: 100%; 
  margin-bottom: 20px; 
}
.card img{
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height:100%;
  transition: 0.3s;
  border-radius: 8px;
}
.card{
  border-radius:12px;
  padding:1%;
  margin-bottom: 6%;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(31, 32, 32, 0.2), 5px 0px 10px rgba(31, 32, 32, 0.2), -5px 0px 10px rgba(31, 32, 32, 0.2);
  transition: 0.3s;
}
.card:hover{
  box-shadow: inset 10px 10px 24px -12px (0,0,0,0.75);
}
.custom-card:hover {
  transform:scale(0.98);
} 
.table {
  font-size: 1rem; 
  box-shadow: 0px 5px 10px rgba(31, 32, 32, 0.2), 5px 0px 10px rgba(31, 32, 32, 0.2), -5px 0px 10px rgba(31, 32, 32, 0.2);
}
.table-hover tbody tr:hover {
  cursor: pointer;
}
.table thead th {
  background-color: rgb(15, 138, 101);
  color: white; 
  vertical-align: middle;
}
.table tbody td {
  vertical-align: middle; 
}
.custom-container {
  width: 75%;
  margin: 0 auto; 
}
.titulos{
 color: rgb(61, 31, 70);
 font-weight: bold;
 font-size: rem;
}
.custom-link {
  color: #ffffff;
  text-decoration: none; 
}
.custom-tr-tips:hover {
  background-color: rgb(63 153 125 / 10%);
}
.leyendadifuminado{
  /* background-color: #7a00ccaf; */
  background: rgb(4,101,77);
  background: linear-gradient(90deg, rgba(4,101,77,1) 0%, rgba(0,159,121,1) 50%, rgba(3,210,160,1) 100%);
}
#sticky-legend {
  position: -webkit-sticky; 
  position: sticky;
  top: 30%; 
  z-index: 100; 
}
ul {
  box-shadow: 0px 5px 10px rgba(31, 32, 32, 0.2), 5px 0px 10px rgba(31, 32, 32, 0.2), -5px 0px 10px rgba(31, 32, 32, 0.2);

}
.fa-paw {
  transform: rotate(24deg);
}
.esmeralda{
  color: rgb(26, 158, 118);
  font-size: 250%;
  font-weight: bold;
}
.coloresmeralda{
  color: rgb(26, 158, 118) !important;
}
.fondo{
  background-color: rgb(63 153 125 / 10%) !important ;
}
#tip1{
  background: rgb(63 153 125 / 10%);
}
#tip2{
  background: rgb(63 153 125 / 10%);
}
#tip3{
  background: rgb(63 153 125 / 10%);
}
#tip4{
  background: rgb(63 153 125 / 10%);
}
#tip5{
  background: rgb(63 153 125 / 10%);
}
#tip6{
  background: rgb(63 153 125 / 10%);
}

.expandable-cell {
  position: relative;
  overflow: hidden;
}

.content {
  max-height: 1.4rem; 
  overflow: hidden;
  transition: max-height 0.3s ease-out; 
}

.content.expanded {
  max-height: none; 
}

.expandable-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
}

.fa-caret-right {
  transition: transform 0.3s;
}

.expanded .fa-caret-right {
  transform: rotate(90deg); 
}

.sombra{
  box-shadow: 0px 5px 10px rgba(31, 32, 32, 0.2), 5px 0px 10px rgba(31, 32, 32, 0.2), -5px 0px 10px rgba(31, 32, 32, 0.2);
}
input[type="text"]:focus {
  outline: none; 
  border-color: rgb(16, 117, 87); 
  box-shadow: 0 0 5px rgb(20, 122, 92); 
}
input[type="email"]:focus {
  outline: none; 
  border-color: rgb(16, 117, 87); 
  box-shadow: 0 0 5px rgb(20, 122, 92); 
}
input[type="password"]:focus {
  outline: none; 
  border-color: rgb(16, 117, 87); 
  box-shadow: 0 0 5px rgb(20, 122, 92); 
}
select:focus,
textarea:focus,
.portada-btn:focus {
  outline: none !important; 
  border-color: #107558 !important; 
box-shadow: 0 0 5px #147a5c !important; 
}
.portada-btn:hover{
  background-color: rgb(71, 215, 169, 0.347)!important;
}
.formlabel{
  font-size: 120%;
}
.corner-top-left {
  border-top-left-radius: 1rem; 
}
.corner-top-right {
  border-top-right-radius: 1rem; 
}
.lost-card {
  background-color: transparent !important; 
}

.btn-green {
  background-color: rgb(63, 153, 125) !important;
  color: white !important; 
}
/* Estilos para el botón inactivo (blanco) */
.btn-white {
  background-color: white !important;
  color: rgb(63, 153, 125) !important; 
  border: 2px solid rgb(63, 153, 125) !important; 
}
.btn-green:focus, .btn-white:focus {
  background-color: rgba(63, 153, 125, 0.8) !important; 
  box-shadow: 0 0 10px rgba(63, 153, 125, 0.8) !important; 
  outline: none !important;
}

/* Estilos para la vista previa de la imagen */
.preview-image {
  margin-top: 5%;
  margin-left: auto;
  margin-right:auto;}

.preview-image img {
  max-width: 40%; 
  max-height: 10%; 
  width: auto;
  margin-left: auto;
  margin-right:auto; 
  display: block; 
  margin-top: 0.2%; 
}
.custom-preview-image {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.custom-experience-preview-image {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.custom-preview-image img {
  max-width: 50%;
  max-height: 10%; 
  width: auto;
  margin-top: 0.2%; 
}

.custom-experience-preview-image img {
  max-width: 45%; 
  max-height: 10%; 
  width: auto;
  margin-top: 0.2%; 
}

.upload-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  text-align: center; 
}
.custom-upload-container {
  display: flex;
  justify-content: start;
  align-items: center; 
  flex-direction: column; 
  text-align: center;
}

.upload-container img {
  max-width: 40%;
  max-height: auto; 
  width: auto;
  height: auto;
  display: block; 
  margin-top: 0.2%; 
}
.custom-upload-container img {
  max-width: 40%; 
  max-height: auto; 
  width: auto;
  height: auto;
  display: block; 
  margin-top: 0.2%; 
}
.custom-dropdown-menu li:hover,
.custom-dropdown-menu a:hover {
  background-color: rgba(71, 215, 169, 0.347) !important; 
  color: inherit !important; 
  outline: none !important; 
}
.custom-dropdown-menu li:focus,
.custom-dropdown-menu a:focus {
  background-color: rgba(35, 172, 129, 0.779) !important; 
  color: inherit !important; 
  outline: none !important; 
}
.custom-drop-btn {
  outline: none !important; 
  color: #ffffff !important; 
  
}
/* Cambia el color del borde a verde cuando el botón está enfocado */
.custom-drop-btn:focus {
  outline: none !important; 
  border-color: #ffffff !important; 
  box-shadow: 0 0 5px #ffffff !important;
}
.check-input {
  margin-left: 5px !important; 
}

.check-label {
  margin-right: 5px; 
}
.sticky-footer {
  position: sticky !important;
  bottom: 0 !important;
  background-color: #f8f9fa !important; 
  padding: 10px 0 !important;
  z-index: 999  !important; 
}
.wrapper {
  display: flex !important;
  flex-direction: column !important;
  min-height: 38.5vh !important;
}

.content {
  flex: 1 !important;
}

.custom-footer {
  flex-shrink: 0 !important;
  background: rgb(4,101,77);
  background: linear-gradient(90deg, rgba(4,101,77,1) 0%, rgba(0,159,121,1) 50%, rgba(3,210,160,1) 100%);
  padding: 10px 0 !important; 
}
.custom-ig{
  color: #fb1fc1 !important;
}
@media (max-width: 767px) {
  .custom-footer ul.bg-transparent li {
    display: flex !important;
    justify-content: center !important; 
  }
}
.custom-navbar{
  background: rgb(4,101,77);
  background: linear-gradient(90deg, rgba(4,101,77,1) 0%, rgba(0,159,121,1) 50%, rgba(3,210,160,1) 100%);
}


.custom-navbar .custom-active {
  font-size: 110% !important;
}
.custom-logo {
  position: absolute;
  top: 0.1rem; 
  right: 0.1rem; 
  max-width: 30%;
  z-index: 1; 
}
@media (max-width: 578px) {
  .custom-card-container {
      display: flex;
      flex-wrap: wrap;
  }
  .custom-card-item {
      flex-basis: calc(50% - 5px); 
     
      margin-bottom: 10px;
  }}
@media (max-width: 322px) {
  .custom-card-container {
      flex-wrap: nowrap;
  }
  .custom-card-item {
      flex-basis: 100%; 
      margin-bottom: 10px;
  }
}
.card-link {
  text-decoration: none;
}

.custom-table-row {
  height: 60px; 
}
.btn-outline-dark {
background-color: white !important; 
  color: black; 
  border-color: #dde5ec !important;
}
.btn-outline-dark:hover {
  background-color: #09814b !important; 
    color: rgb(255, 255, 255); 
  }
  .login-btn:focus{
    outline: none !important; 
  border-color: #f3f9f7 !important; 
box-shadow: 0 0 5px #f8fcfb !important; 
  }