.container {
  text-align: center;
  padding: 20px;
}

#main1 {
  background-color: white !important;
  margin-left: 25%;
  padding: 20px;
}

h1 {
  font-size: 60px;
  color: rgb(63 153 125);
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}

.card-text {
  font-size: 18px;
  color: #555;
  margin-top: 15px;
}

.card-body {
  padding-top: 10px;
}

.card-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.card:nth-child(even) .Foto.tip1 {
  border-color: #fff;
}

/* Nueva regla para la barra lateral */
#sidebartips {
  position: absolute;
  margin-top: 235px;
  margin-right: 10px;
  padding-top: 10px;
  top: 0;
  left: 15px;
  max-height: 100vh;
  width: 20%; /* Ancho de la barra lateral */
  overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
  background-color: rgb(63 153 125 / 10%);
  box-shadow: 0 4px 8px rgba(63 153 125 / 60%);
  border-radius: 20px;
}

#sidebartips h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#sidebartips ul {
  list-style: none;
}

#sidebartips .nav-item {
  margin-bottom: 10px;
}

/* Estilo para el contenido principal */
.content {
  margin-left: 20px; /* Ancho de la barra lateral + espacio adicional */
  padding: 20px;
}

@media screen and (max-width: 768px) {
  /* Estilos para cuando la pantalla es más pequeña */
  #a1, #a2, #a3, #a4, #a5, #a6 {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  #sidebartips {
    width: 100%; 
    margin-top: 0; 
    position: relative;
    left: 0; 
    margin-bottom: 20px; 
  }

  #main1 {
    margin-left: 0; 
  }
}

/* Estilos para pantallas más pequeñas (menos de 768px) */
@media (max-width: 767.98px) {
  #main {
    max-width: 300px;
    background-color: transparent !important;
  }
}

/* Estilos para pantallas medianas (entre 768px y 1399.98px) */
@media (min-width: 768px) and (max-width: 1399.98px) {
  #main {
    max-width: 580px;
    background-color: transparent !important;
  }
}

/* Estilos para pantallas más grandes (1400px o más) */
@media (min-width: 1400px) {
  #main {
    max-width: 1020px;
    background-color: transparent !important;
  }
}


#tip1,
#tip2,
#tip3,
#tip4,
#tip5,
#tip6 {
  background-color: rgb(63 153 125 / 10%);
  box-shadow: 0 4px 8px rgba(63 153 125 / 60%);
  border-radius: 20px;
}
