#voluntaryform {
    color: #a9880a;
}

#formcomplete {
    background-color: rgb(169 136 10 / 10%);
    box-shadow: 4px 8px 10px rgb(169 136 10 / 60%);
    border-radius: 20px;
}

/* voluntaryform.css */

/* Estilo para la lista personalizada */
.custom-list {
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    border-top: 2px solid #f3eb9f; /* Agrega un borde superior */
    background-color: #ecd982; /* Cambia el fondo de la lista */
  }
  
  /* Estilo para los elementos de lista personalizados */
  .custom-list-item {
    background-color: #fffcd4; /* Cambia el fondo de cada elemento */
    padding: 20px; /* Agrega relleno para separar los elementos */
    border-bottom: 1px solid #e0e0e0; /* Agrega un borde inferior entre elementos */
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
  }
  
  /* Estilo para cuando se pasa el cursor sobre los elementos de lista */
  .custom-list-item:hover {
    background-color: #fffd8c; /* Cambia el fondo al pasar el cursor */
    color: #fff; /* Cambia el color del texto al pasar el cursor */
  }
  